
.contact{
    position: relative;
    height: calc(100vh - 60px);
    background: #0f1821;
}

.contact-content{
    position: absolute;
    display: flex;
    flex-direction: column;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    align-items: center;
    width: 100%;
}

.social{
    position: relative;
    display: flex;
    flex-direction: column;
    text-align: center;
    
}

.social a{
    color: aliceblue;
    text-align: left;
    padding: 0;
}

.social a:hover{
    scale: 1.05;
    transition: 200ms ease-in;
    text-shadow: 0 0 .65px aliceblue, 0 0 .65px aliceblue;
}

.scroll-up{
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    transform: rotateX(180º);
    animation: jumpInfinite 3s infinite;
    cursor: pointer;
}

@media only screen and (width <= 1000px){
    .scroll-up{
        bottom: 50px;
    }

}

