
.hero{
    position: relative;
    height: calc(100vh - 30px);
    width: 100%;
    padding-top: 30px;
}

.hero-content{
    position: relative;
    display: flex;
    flex-direction: column;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    text-align: center;
    padding: 0 10% 0 10%;
}

.title{
    margin: 0;
    padding-bottom: 3vh;
}

.subtitle{
    position: relative;
    transform: translate(-50%, 0);
    top: 50%;
    left: 50%;
    width: 60%;
    margin: 0;
}

.scroll-down{
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    animation: jumpInfinite 3s infinite;
    cursor: pointer;
  }
  
  .scroll-down:hover{
    scale: 1.05;
    transition: 200ms ease-in;
    animation: jumpInfinite-hover 3s infinite;
  }

  @keyframes jumpInfinite-hover {
    0% {
      margin-bottom: 30px;
    }
    50% {
      margin-bottom: 0px;
    }
    100% {
      margin-bottom: 30px;
    }
  }
  
  @keyframes jumpInfinite {
    0% {
      margin-bottom: 30px;
    }
    50% {
      margin-bottom: 10px;
    }
    100% {
      margin-bottom: 30px;
    }
  }

.social .icon{
    padding: 20px;

}

  


@media only screen and (width <= 1000px){
    .title{
        height: 10rem;
        padding: 2rem 10%;
    }

    .subtitle{
        width: auto;
        padding: 0 10%;
        padding-top: 20px;
    }

    .hero{
        padding-top: 60px;
    }

    .scroll-down{
        bottom: 50px;
    }

}





/*
.hero{
    height: calc(100vh - 60px);
    width: 100%;
}

.title{
    font-weight: 600;
    font-size: 64px;
    color: #000000;
    margin: 0;
    padding-bottom: 3vh;
}

.subtitle{
    font-weight: 300;
    font-size: 18px;
    color: #000000;
    margin: 0;
}

*/