
.music{
    height: calc(100vh - 60px);
    width: 100%;
}


.music-content{
    position: relative;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    text-align: center;
    padding: 0 10% 0 10%;
}

.video{
    width: 30vh;
    height: auto;
    margin: 20px;
}
.video:hover{
    scale: 1.03;
    transition: all .2s ease-in-out;
}

.app,.app-list:hover{
    scale: 1.03;
    transition: all .2s ease-in-out;
}

.media-apps{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 0vh;
    list-style: none;
    text-align: left;
}

.app-list{
    padding: 0 20px;
}

.app-icon{
    padding-right: 1vh;
}

.app-title{
    padding-bottom: 3px;
    border-bottom: 0.5px solid var(--dark);
}

.music-content h2{
    margin-bottom: 10px;
}

.music-content .media-apps{
    margin-top: 10px;
}

@media only screen and (width <= 1150px) {
    .music{
        min-height: calc(100vh - 60px);
        height: auto;
    }

    .music-content{
        position: relative;
        transform: translate(0, 0);
        top: 0%;
        left: 0%;
        text-align: center;
        padding: 15% 10%;
    }

    .video{
        padding: 0;
    }
    
}




