
nav{
    display: flex;
    justify-content: space-between;
    height: 60px;
    width: calc(100% - 20%);
    padding: 0 10% 0 10%;
    align-items: center;
    position: fixed;
    margin-top: 0;
    background-color: white;
    z-index: 1;
}

.nav-menu li{
    display: inline-block;
    padding: 0 0 0 40px;
    cursor: pointer;
}

.nav-menu{
    list-style: none
}

.nav-menu li a:hover{
    text-shadow: 0 0 .65px rgb(0, 0, 0), 0 0 .65px rgb(0, 0, 0);
    padding-bottom: 10px;
    border-bottom: 5px solid #192734;
    transition: all 0.3s ease;
  }


.logo{
    font-size: 30px;
    font-weight: bold;
}

.logo:hover{
  scale: 1.1;
  cursor: pointer;
  transition-delay: 100ms;
  
}

.nav-item .active{
  text-shadow: 0 0 .65px rgb(0, 0, 0), 0 0 .65px rgb(0, 0, 0);
  padding-bottom: 10px;
  border-bottom: 5px solid #192734;
  transition: all 0.3s ease-in-out;
}

.nav-button{
  margin-left: 40px;
}

.dwn-icon{
  padding: 0;
}

.burger-bars{
  display: none;
}


@media only screen and (width <= 1000px){
  .burger-bars{
    display:flex;
    height: 2rem;
    width: auto;
  }

  .burger-bars:hover{
    scale: 1.1;
    transition: 300ms;
    cursor: pointer;
  }

  .nav-menu{
    display: none;
}

}

/* -------- Sidebar burger menu------------ */

.burger-menu{
  position: absolute;
  height: 100vh;
  width: 20vh;
  top:0%;
  right: 0%;
  background-color: white;
  right: -100%;
  transition: 850ms;
  
}

.burger-menu.active{
  right: 0;
  transition: 350ms;
}

.burger-menu-list{
  position: relative;
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-top: 20px;
}

.burger-item{
  padding-top: 5vh;
}

.burger-button{
  margin-top: 10vh auto 0 auto;
}


.burger-item .active{
  text-shadow: 0 0 .65px rgb(0, 0, 0), 0 0 .65px rgb(0, 0, 0);
  padding-bottom: 10px;
  border-bottom: 5px solid #192734;
  transition: all 0.3s ease-in-out;
}

.burger-menu-list li a:hover{
  text-shadow: 0 0 .65px rgb(0, 0, 0), 0 0 .65px rgb(0, 0, 0);
  padding-bottom: 10px;
  border-bottom: 5px solid #192734;
  transition: all 0.3s ease;
  cursor: pointer;
}

.burger-close{
    position: relative;
    height: 2rem;
    width: auto;
}

.burger-close:hover {
  transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  -webkit-transform:rotate(180deg);
  transition:300ms;
  scale: 1.1;
  cursor: pointer;
}
